body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    background-color: aliceblue;
}
aside {
    flex: 1;
    overflow-y: auto;
    background-color: lavenderblush;
    padding: 10px;
}